<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest -- Clone</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
        <div class="w-[30vw] h-[96vh] bg-white px-14 py-5 rounded-md">
            <div class="flex flex-col items-center">
                <img class="w-16" src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
                    alt="">
                <span
                    class="text-2xl text-center font-semibold text-zinc-700 tracking-tight leading-none capitalize">Register
                    To
                    Pinterest</span>
            </div>
            <form action="/register" method="post" class="mt-2">
                <div class="flex flex-col mt-2">
                    <input class="w-full px-3 py-2 rounded-md" type="text" name="fullname" placeholder="Full Name">
                </div>
                <div class="flex flex-col mt-2">
                    <input class="w-full px-3 py-2 rounded-md" type="text" name="username" placeholder="Username">
                </div>
                <div class="flex flex-col mt-2">
                    <input class="w-full px-3 py-2 rounded-md" type="email" name="email" placeholder="Email">
                </div>
                <div class="flex flex-col mt-2">
                    <input class="w-full px-3 py-2 rounded-md" type="number" name="contact" placeholder="Contact">
                </div>
                <div class="flex flex-col mt-2">
                    <input class="w-full px-3 py-2 rounded-md" type="password" name="password" placeholder="Password">
                </div>
                <div class="mt-2">
                    <button class="w-full px-3 py-2 rounded-md bg-red-600 text-white">Create New Account</button>
                </div>
            </form>
            <div class="text-xs text-center mt-2 text-zinc-700">
                <span>By continuing you agree to Pinterest's <span class="font-semibold cursor-pointer">Terms of Service
                    </span>
                    and knowledge
                    that
                    you've read our
                    <span class="font-semibold cursor-pointer">Privacy Policy Notice at Collection</span></span>
            </div>
            <div class="text-xs text-center text-zinc-700"><span>Login Existing Account? <a href="/"
                        class="font-semibold underline text-blue-600 cursor-pointer">Log In</a></span></div>
            <div class="text-xs text-center text-zinc-700"><span>Are you a business? <span
                        class="font-semibold underline text-blue-600 cursor-pointer">Get started here!</span></span>
            </div>
        </div>

    </div>
</body>

</html>